header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 10px 20px;
  opacity: 90%;
  position: relative;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.main-logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.mainn {
  min-width: 100vw;
  background-color: blue;
}
.flag-wrapper {
  border: 1px solid rgb(227, 196, 196);
  border-radius: 10%;
  padding: 1px 10px;
}

.slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(213, 227, 210);
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}

.exit-and-input-parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  max-width: 100%;
  background-color: rgb(213, 227, 210);
  padding: 10px 10px 10px 25px;
}
.exit-and-input-parent p {
  cursor: pointer;
}
.serach-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.serach-input-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 5%;
}

.serach-input-wrapper input {
  width: 100%;
  padding: 10px;
  /* padding: 10px 0; */
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(55, 0, 255);
}

.items-vertical-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.items-vertical-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.items-vertical-section * img {
  width: 20px;
  height: 20px;
}
.items-vertical-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  gap: 5px;
  background-color: rgba(242, 245, 245, 0.444);
  width: 100%;
}
.mobile-phones {
  display: flex;
  flex-direction: column;
}
.smart-home {
  display: flex;
  flex-direction: column;
}

.brands-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}
