.exit-btn {
  background-color: red;
  padding: 5px 13px;
  border-radius: 50%;
  position: absolute;
  right: -6px;
  top: -20px;
  z-index: 1;
}

.Bar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  position: fixed;
  bottom: 0; // needed, beacse when height changes, it doesnot pushes container under user viewport
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 0 0;
  padding: 5px 15px;
    padding-bottom: 90px;
  animation: BarIn 0.5s ease;
}

@keyframes BarIn {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
.ExitBar {
  animation: BarOut 0.5s ease forwards ;
}

@keyframes BarOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(150%);
  }
}

@media (min-width: 1024px) {
  .Bar {
    max-width: 400px;
    border-radius: 20px;
    top:  15%;
    left: 37%;
  }

  @keyframes BarIn {
    0% {
      transform: translateY(10%);
    }
    50% {
      transform: translateY(-2%);

    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes BarOut {
  0% {
    transform: translateY(0);
  }


  100% {
    transform: translateY(0%);
    opacity: 0%;
  }
}
}
