@use "mixins";
$primary-color: #ec5e2a;

.cart-pop {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  top: 63px;
  right: 12%;
  width: 300px;
  display: none;
  min-width: 300px;
  background-color: rgb(228, 210, 156);
  z-index: 999999;
  padding: 15px;
  border-radius: 20px;
  animation: animate-pop 0.2s ease;
}
.items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  border-radius: 10px;
}
.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(225, 216, 216);
  padding: 10px;
}
.cart-pop > div:first-child,
.total-price-container {
  @include mixins.display-shared(
    $gap: 0,
    $padding: 5px,
    $justify-content: space-between
  );
  width: 100%;
}
.strech {
  display: flex;
  justify-content: center;
}
.math-container {
  display: flex;
  gap: 20px;
  color: white;
  background-color: $primary-color;
  padding: 3px 10px;
  border-radius: 10px;
}
.emptyCart-Image {
  width: 150px;
  height: 150px;
}
.cart-container-header button {
  background-color: $primary-color;
  width: 150px;
  padding: 5px 15px;
  border-radius: 15px;
}

  @keyframes animate-pop {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
    }
  }