@mixin display-shared(
  $gap: 0px,
  $padding: 0px,
  $justify-content: center
) {
  display: flex;
  align-items: center;
  gap: $gap;
  padding: $padding;
  justify-content: $justify-content;
}

@mixin display-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}