@use "mixins";

.slider-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgb(18, 16, 130);
}

body.no-scroll {
  overflow: hidden;
}
.categories-and-brands-container {
  display: flex;
  gap: 5px;
}
.categories-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100px;
  background-color: rgb(235, 235, 235);
}
.categories-wrapper > div {
  border-bottom: 0.5px solid rgb(200, 187, 187);
}
.categories-wrapper * img {
  width: 20px;
  height: 20px;
}

.category {
  @include mixins.display-shared($gap: 5px, $padding: 10px 5px);
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  color: rgb(120, 49, 49);
}

.category-animate {
  animation: scaleEffct 0.2s ease;
}

@keyframes scaleEffct {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.mobile-phones,
.smart-home {
  @include mixins.display-col;
}
.brands-container,
.brands-section,
.brands-wrapper,
.brand-image {
  width: 100%;
}

.brands-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: red;
}
.brands-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-right: 5px;
  grid-gap: 10px;
}
.brand-item {
  height: 100px;
  background-color: rgb(217, 218, 226);
  border-radius: 10px;
  padding: 2px;
  overflow: hidden;
  position: relative;
}
.brand-paragraph {
  font-size: 14px;
  color: rgb(205, 136, 9);
}
.brand-image {
  position: absolute;
  height: 80%;
  right: -19px;
  bottom: -20%;
}

.active-category {
  background-color: rgb(210, 234, 169);
}

@media (min-width: 500px) {
  .category-animate {
    animation: none;
  }
  .category {
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
  }

  .active-category {
    background-color: rgb(235, 235, 235);
  }

  .mobile-phones,
  .smart-home {
    flex-direction: row;
    gap: 5px;
  }
}
