@mixin display-gap-padding-justify($gap: 0px, $padding: 0px, $justify-content: center) {
  display: flex;
  align-items: center;
  gap: $gap;
  padding: $padding;
  justify-content: $justify-content;
}

@mixin display-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

header {
  @include display-gap-padding-justify(
    $gap: 0,
    $padding: 5px 20px,
    $justify-content: space-between
  );
  background-color: rgba(232, 231, 231, 0.6);
  backdrop-filter: blur(15px);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

header > div {
  @include display-gap-padding-justify($gap: 5px);
}

.header-right-side-items {
  @include display-gap-padding-justify($gap: 15px);
}
.shopping-cart-container-header {
  position: relative;
}
.cart-amount {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -13px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(234, 128, 23);
  color: white;
}

.languages-container {
  position: relative;
  border: 1px solid rgb(227, 196, 196);
  border-radius: 10%;
  padding: 0px 10px;
  z-index: 99999;
}

////////////////////////////////////////////////////////////////

.pc-first-section {
  display: none;
}
.pc-header {
  display: none;
}

@media (min-width: 1024px) {
  .header-sticky {
    position: sticky;
    top: 0;
    animation: animateHeader 0.5s ease;
  }

  @keyframes animateHeader {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .header {
    display: none;
  }

  header {
    padding: 10px 0px;
    position: static;
    width: 100%;
  }

  .pc-header input {
    min-width: 400px;
  }

  .pc-header {
    @include display-gap-padding-justify(
      $gap: 0px,
      $padding: 0px 30px 0px 50px,
      $justify-content: space-around
    );
    // padding-left: 50px;
    width: 100%;
  }

  .header-right-side-items {
    gap: 20px;
  }
  .header-right-side-items > * {
    border-radius: 10px;
  }

  .header-right-side-items > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: fit-content;
    cursor: pointer;
  }

  .orange-btn {
    background-color: rgb(243, 194, 96);
    padding: 7px 18px;
  }
  .animate-header {
    animation: header-animation 0.7s ease;
    position: sticky;
  }

  @keyframes header-animation {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .cart-container-header,
  .login-container-header {
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 8px 28px;
    position: relative;
  }
  .cart-container-header:hover,
  .login-container-header:hover {
    background-color: #f7c8b7;
  }
  .cart-container-header:hover .invisible-div {
    display: block;
  }

  .cart-container-header:hover .cart-pop {
    display: block;
  }
  .invisible-div {
    display: none;
    position: absolute;
    width: 120px;
    height: 15px;
    top: 40px;
    cursor: default;
  }

  .cart-container-header span {
    font-weight: 500;
  }
}
