%display-shared {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin display-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 234, 172);
  padding: 10px 20px;
  opacity: 98%;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header > div {
  @extend %display-shared;
  gap: 5px;
  cursor: pointer;
}
.main-logo-div {
  @extend %display-shared;
}
.balisha {
  width: 50px;
  height: 50px;
}
.header-right-side-items {
  @extend %display-shared;
  gap: 10px;
}

.flag-wrapper {
  border: 1px solid rgb(227, 196, 196);
  border-radius: 10%;
  padding: 1px 10px;
}

.exit-input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  max-width: 100%;
  background-color: rgb(240, 246, 239);
  padding: 10px 10px 10px 25px;
}
.exi-input-container p {
  cursor: pointer;
}
.searach-input-container {
  width: 100%;
  @include display-col($gap: 10px);
}
.input-container {
  position: relative;
  width: 100%;
}
.serach-icon {
  position: absolute;
  left: 20px;
  top: 10px;
  width: 25px;
  height: 25px;
}
.input {
  width: 100%;
  padding: 10px 10px 10px 50px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(55, 0, 255);
}

.popular-searches-container {
  @include display-col($gap: 15px);
}
.popular-searches-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  font-size: 13px;
  border-radius: 10px;
  height: fit-content;
  animation: animateSearches 0.5s ease;
}
.popular-searches-wrapper * {
  background-color: rgb(239, 239, 234);
  padding: 8px;
  border-radius: 10px;
}

@keyframes animateSearches {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.slider-container {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(240, 246, 239);
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgb(150, 205, 139);
}

body.no-scroll {
  overflow: hidden;
}

.items-vertical-section {
  @extend %display-shared;
  flex-direction: column;
  gap: 2px;
  background-color: rgb(240, 246, 239);
}
.items-vertical-section * img {
  width: 20px;
  height: 20px;
}
.items-vertical-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
}
.section {
  @extend %display-shared;
  flex-direction: column;
  padding: 10px 5px;
  gap: 5px;
  width: 100%;
  font-size: 15px;
  color: rgb(120, 49, 49);
}

.section:hover {
  animation: scaleEffct 0.2s ease;
}

@keyframes scaleEffct {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.mobile-phones,
.smart-home {
  @include display-col;
}

.brands-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;

  gap: 5px;
  max-width: fit-content;
  overflow-y: auto;
  max-height: 670px;
  background-color: red;
}
.brands-wrapper div {
  width: 130px;
  height: 100px;
  background-color: rgb(226, 225, 217);
  position: relative;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
}

.brands-wrapper p {
  font-size: 15px;
  color: rgb(205, 136, 9);
}
.brands-wrapper img {
  position: absolute;
  width: 80%;
  height: 80%;
  right: 0;
  bottom: -20%;
}

.offline-section {
  background-color: rgb(235, 235, 235);
}
.active-section {
  background-color: rgb(255, 255, 255);
}
