%display-shared {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin display-row($gap: 0px) {
  display: flex;
  //   justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin display-col($gap: 0px, $padding: 0px) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
  padding: $padding;
}

.layer-backgroundIN {
  animation: layer-animateIN 0.3s forwards;
}
.layer-backgroundOUT {
  animation: layer-animateOUT 0.3s forwards;
}
@keyframes layer-animateOUT {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  30% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes layer-animateIN {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  30% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.exit-btn {
  background-color: red;
  padding: 5px 13px;
  border-radius: 50%;
  position: absolute;
  transform: translateY(-90%);
  right: 15px;
}

.authBar {
  @include display-col($gap: 5px, $padding: 15px 15px);
  align-items: start;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  animation: AuthBarIn 0.5s ease;
  border-radius: 20px 20px 0 0;
}

@keyframes AuthBarIn {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0);
  }
}
.exit {
  animation: AuthBarOut 0.8s ease forwards;
}

@keyframes AuthBarOut {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(150%);
  }
}
.acces-options {
  display: flex;
  justify-content: space-around;
}
.acces-options p {
  font-size: 20px;
  border: 10px red;
}
.auth-hr {
  height: 2px;
  margin-bottom: 6px;
  background: linear-gradient(
    to right,
    red 25%,
    rgb(227, 224, 224) 25%
  );
  background-size: 200%;
  transition: 0.3s ease; // !!!!!!! not only background, but also padding!
  border: none;
}

.bg-auth {
  background-position: 0%;
}

.bg-register {
  background-position: -50%;
}
.auth-options {
  padding: 10px 0 10px;
  transition: 0.3s ease;
}
.more-bottom {
  margin-bottom: 20px;
}

.auth-options p {
  padding: 7px 10px;
  border-radius: 20px;
  color: rgb(104, 152, 41);
  font-weight: 500;
}
.non-active-auth-option {
  background-color: #f2f2f2;
}

.active-auth-option {
  background-color: rgba(236, 94, 42, 0.2);
  border: solid rgb(226, 20, 20);
}

.auth-and-register-with-number-container {
  @include display-row($gap: 10px);
  width: 100%;
  padding-bottom: 15px;
}
.country-codes-container {
  @include display-col($gap: 1px, $padding: 10px 15px);
  max-width: 70px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.country-code {
  @extend %display-shared;
  min-width: 70px;
  background-color: #f2f2f2;
  padding: 8px;
  border-radius: 8px;
  //   font-size: 20px;
}
.codes-wrapper {
  @include display-col($gap: 5px, $padding: 10px 10px);
  width: fit-content;
  height: fit-content;
  background-color: #ac27b9;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: -210%;
  z-index: 1;
}
.codes-wrapper * {
  border-bottom: 1px solid rgb(0, 255, 55);
  //   font-size: 20px;
}
.codes-wrapper *:hover {
  color: rgb(34, 20, 235);
  cursor: pointer;
}

.auth-with-email-container {
  @include display-col($gap: 10px, $padding: 0px 0px 20px);
  width: 100%;
  padding: 0px 0px 20px;
}
// REGISTER !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.register-with-number-container {
  @include display-col($gap: 10px);
}

.register-with-number-container .policy-container {
  @include display-row($gap: 15px);
  padding-bottom: 15px;
  background-color: rgb(246, 255, 247);
}
// submit-section  !!!!!!!!!!!!!!!!
.submit-section {
  @include display-col($gap: 15px);
  align-items: center;
  width: 100%;
}

.submit-btn {
  background-color: #ec5e2a;
  padding: 15px 0;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  width: 100%;
}
.submit-section hr {
  background-color: rgb(255, 253, 253);
  border: 1px solid rgb(237, 230, 230);
  width: 100%;
}
.google-btn {
  @extend %display-shared;
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 100%;
}
.google-icon {
  width: 70px;
  height: 50px;
}

input {
  width: 100%;
  outline: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px 17px 5px;
}
// FLOATING !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.floating-container {
  position: relative;
  width: 100%;
}

label {
  position: absolute;
  pointer-events: none;
}

.price-container {
  animation: animate-price-container 0.5s ease;
}
@keyframes animate-price-container {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
