main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 0 10px 10px;
  background-color: white; //needed any background to let filter work..
}



@media (min-width: 1024px) {
  main {
    padding: 20px 60px;
  }
}
