@mixin display($padding: 0px, $justify-content: center) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
  padding: $padding;
}
@mixin display-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

.bottom-nav-bar {
  @include display($padding: 10px, $justify-content: space-around);
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: rgb(221, 227, 219);
  overflow: hidden;
  padding: 10px;
}

.bottom-nav-bar > div {
  @include display-col($gap: 7px);
  cursor: pointer;
}

.promotions-wrapper {
  position: relative;
}
.promotionsIcon {
  opacity: 0;
  pointer-events: none;
}
.promotionsIcon-block {
  background-color: orange;
  overflow: hidden;
  border-radius: 100px;
  min-width: 40px;
  min-height: 40px;
  position: absolute;
  top: -8px;
}

.bottom-nav-bar img {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.bottom-nav-bar * img:hover {
  transform: scale(1.1);
  background-color: rgb(240, 159, 82);
  border-radius: 10px;
}

.compare-container {
  @include display-col($gap: 35px);
  padding: 10px;
  animation: moveContainer 0.5s ease forwards;
}

@keyframes moveContainer {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

.compare-header {
  @include display-col();
  width: 100%;
}

.compare-navigation {
  @include display(
    $padding: 7px 0px 13px,
    $justify-content: space-between
  );
  width: 100%;
}
.compare-navigation > div {
  @include display($padding: 5px);
  gap: 10px;
}
.compare-hr {
  background-color: rgb(195, 207, 214);
  height: 1px;
  width: 100%;
  border: none;
}
.compare-products-parent {
  @include display-col($gap: 15px);
  width: 100%;
}

.product-container {
  @include display(15px 20px, $justify-content: space-between);
  background-color: aqua;
  width: 100%;
  border-radius: 10px;
}
.select-product-container {
  @include display(0, $justify-content: space-between);
  width: fit-content;
  gap: 15px;
}