@mixin display-gap-padding-justify(
  $gap: 0px,
  $padding: 0px,
  $justify-content: center
) {
  display: flex;
  align-items: center;
  gap: $gap;
  padding: $padding;
  justify-content: $justify-content;
}

@mixin flex-center-gap() {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 14px;
}

.pc-first-section {
  display: none;
}

@media (min-width: 1024px) {
  .pc-first-section {
    @include display-gap-padding-justify(
      $gap: 0px,
      $padding: 15px 120px,
      $justify-content: space-between
    );
    background-color: rgb(235, 101, 57);

    .contact-info {
      @include flex-center-gap;
    }

    img {
      padding-top: 0.25rem;
    }
  }

  .info-container {
    @include flex-center-gap;
    font-weight: 500;
    color: #d7d2ad;

    nav {
      display: flex;
      gap: 1rem;

      span {
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
          color: #fff;
          transform: scale(1.02);
        }
      }
    }
  }
}
