@mixin display-gap-padding-justify(
  $gap: 0px,
  $padding: 0px,
  $justify-content: center
) {
  display: flex;
  align-items: center;
  gap: $gap;
  padding: $padding;
  justify-content: $justify-content;
}

@mixin flex-center-gap() {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 14px;
}

.topBar {
  display: none;
}

@media (min-width: 1024px) {
  .topBar {
    @include display-gap-padding-justify(
      $gap: 0px,
      $padding: 15px 120px,
      $justify-content: space-between
    );

    background-color: rgb(235, 101, 57);
  }

  .contactInfo {
    @include flex-center-gap;

    img {
      padding-top: 0.25rem;
    }
  }

  .infoContainer {
    @include flex-center-gap;

    font-weight: 500;
    color: #d7d2ad;

    nav {
      display: flex;
      gap: 1rem;

      a {
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
          color: #fff;
          transform: scale(1.02);
        }
      }
    }
  }
}