.floating-container {
  position: relative;
  width: 100%;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 10px;
}
.input-feedback {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: -30px;
  font-size: 18px;
}
.input-feedback span:nth-child(1) {
  color: red;
}
.input-feedback span:nth-child(2) {
  cursor: pointer;
  color: #dc4813;
}
.input-feedback span:nth-child(2):hover {
  color: #df8463;
}
.eye-btn {
  position: absolute;
  right: 10px;
}
