%display-shared {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-col {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 10px 20px;
  opacity: 90%;
  position: relative;
}

header > div {
  @extend %display-shared;
  gap: 15px;
  cursor: pointer;
}
.main-logo-div {
  @extend %display-shared;
  gap: 2px;
}
.balisha {
  width: 50px;
  height: 50px;
}

.flag-wrapper {
  border: 1px solid rgb(227, 196, 196);
  border-radius: 10%;
  padding: 1px 10px;
}

.slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(213, 227, 210);
  width: 100%;
  height: 100vh;
}

.exit-and-input-parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  max-width: 100%;
  background-color: rgb(213, 227, 210);
  padding: 10px 10px 10px 25px;
}
.exit-and-input-parent p {
  cursor: pointer;
}
.serach-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.serach-input-items {
  @extend %display-shared;
  gap: 10px;
  position: absolute;
  left: 5%;
}

.serach-input-wrapper input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(55, 0, 255);
}

.items-vertical-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.items-vertical-sections {
  @extend %display-shared;
  flex-direction: column;
  gap: 2px;
}
.items-vertical-sections * img {
  width: 20px;
  height: 20px;
}
.items-vertical-sections > div {
  @extend %display-shared;
  flex-direction: column;
  padding: 10px 5px;
  gap: 5px;
  background-color: rgba(242, 245, 245, 0.444);
  width: 100%;
  cursor: pointer;
}
.items-vertical-sections > div * {
  pointer-events: none;
}
.items-vertical-sections > div:hover {
  animation: scaleEffct 0.2s ease;
}

@keyframes scaleEffct {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.items-vertical-sections > div:hover {
  background-color: white;
}
.items-vertical-sections > div:active {
  background-color: white;
}

.mobile-phones {
  @extend %flex-col;
}
.smart-home {
  @extend %flex-col;
}
.brands-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100vw;
  height: fit-content;
  height: 100vh;
  height: fit-content;
}

.brands-wrapper div {
  width: 20%;
  height: 100px;
  background-color: rgb(177, 226, 201);
}
