%display-shared {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-col {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 246, 239);
  padding: 10px 20px;
  opacity: 90%;
  position: relative;
}

header > div {
  @extend %display-shared;
  gap: 5px;
  cursor: pointer;
}
.main-logo-div {
  @extend %display-shared;
}
.balisha {
  width: 50px;
  height: 50px;
}
.header-right-side-items {
      @extend %display-shared;
      gap: 10px;
}

.flag-wrapper {
  border: 1px solid rgb(227, 196, 196);
  border-radius: 10%;
  padding: 1px 10px;
}

.slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(240, 246, 239);
  width: 100%;
  height: 100vh;
  z-index: 9;
}

.exit-and-input-parent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  max-width: 100%;
  background-color: rgb(240, 246, 239);
  padding: 10px 10px 10px 25px;
}
.exit-and-input-parent p {
  cursor: pointer;
}
.serach-input-container {
  width: 100%;
}
.serach-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.serach-icon {
  position: absolute;
  left: 20px;
  width: 25px;
  height: 25px;
}

.serach-input-wrapper input {
  width: 100%;
  padding: 10px 10px 10px 50px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(55, 0, 255);
}


.items-vertical-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.popular-searches-container {
  @extend %flex-col;
  align-items: center;
  gap: 5px;
}
.popular-searches-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  font-size: 13px;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
  animation: animateSearches 0.5s ease;
}
.popular-searches-wrapper * {
background-color: rgb(239, 239, 234);
padding: 8px;
border-radius: 10px;
}

@keyframes animateSearches {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.items-vertical-sections {
  @extend %display-shared;
  flex-direction: column;
  gap: 2px;
  background-color: rgb(240, 246, 239);
}
.items-vertical-sections * img {
  width: 20px;
  height: 20px;
}
.section {
  @extend %display-shared;
  flex-direction: column;
  padding: 10px 5px;
  gap: 5px;
  width: 100%;
  font-size: 15px;
  color: rgb(120, 49, 49);
}

.section:hover {
  animation: scaleEffct 0.2s ease;
}

@keyframes scaleEffct {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.mobile-phones,
.smart-home {
  @extend %flex-col;
}

.brands-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  width: 100vw;
  height: fit-content;
  height: 100vh;
  height: fit-content;
}
.brands-wrapper div {
  width: 135px;
  height: 100px;
  background-color: rgb(226, 225, 217);
  position: relative;
  border-radius: 10px;
  padding: 5px;
  overflow: hidden;
}

.brands-wrapper p {
  font-size: 15px;
  color: rgb(205, 136, 9);
}
.brands-wrapper img {
  position: absolute;
  width: 100px;
  height: 80px;
  right: 0;
  transform: translateY(50%);
}

.offline-section {
  background-color: rgb(235, 235, 235);
}
.active-section {
  background-color: rgb(255, 255, 255);
}
