.warning-container {
  width: 100%;
  text-align: center;
}

.warning-container h2 {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}

.warning-container hr {
  width: 100%;
}

.bar-modifed-warning button {
  background-color: #ec5e2a;
  color: white;
  border-radius: 15px;
  width: 100%;
  padding: 10px 0;
}

.warning-reason-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}

@media (min-width: 500px) {
  .categories-wrapper > div:hover {
    background-color: #efe1dd;
    cursor: pointer;
  }
  .categories-wrapper {
    border-right: 1px solid #daccc3;
  }
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 0 10px 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.pc-main-first-section {
  display: none;
}

.hightlights-wrapper,
.products-shared-wrapper {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  gap: 50px;
}

.hightlights-wrapper > div {
  border: 1px solid green;
  min-width: 291px;
  min-height: 100px;
  border-radius: 15px;
}

.products-shared-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.products-shared-wrapper > div {
  display: flex;
  flex-direction: column;
  min-width: 130px;
  max-width: 110px;
  gap: 10px;
  align-items: flex-start;
  border-radius: 15px;
  position: relative;
}

.item-image {
  height: 140px;
  width: 140px;
}

.item-info-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 60px;
}

.gift,
.new {
  text-align: center;
  max-width: 50px;
  background-color: orange;
  padding: 5px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  color: white;
}

.price {
  color: #ec5e2a;
  font-size: 20px;
}

.installment {
  font-size: 12px;
}

.installment span {
  color: #ec5e2a;
}

.item-name {
  font-weight: 600;
}

.product-actions-container {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 0;
  max-height: 40px;
}

.product-actions-container > div {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.product-actions-container img {
  max-width: 20px;
  max-height: 20px;
}

.product-actions-container span {
  font-size: 13px;
}

.compare-box {
  background-color: rgb(240, 237, 237);
}

.cart-container {
  background-color: #f68861;
  width: 80px;
}

@media (min-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 60px;
  }
  .hightlights-wrapper {
    display: none;
  }
  .pc-main-first-section {
    display: flex;
    width: 100%;
  }
  .categories-and-brands-parent {
    position: relative;
    height: 213px;
    min-width: 200px;
    background-color: green;
  }
  .pc-categories-and-brands-container {
    position: absolute;
    display: flex;
    gap: 10px;
    height: 213px;
    width: 100%;
    overflow: hidden;
    transition: all 0.2s ease;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(193, 181, 181);
    background-color: rgb(255, 255, 255);
    z-index: 999;
  }
  .categories-wrapper {
    min-width: 200px;
  }
  .pc-categories-and-brands-container:hover {
    height: 500px;
    width: 1200px;
  }
  .pc-brands-container {
    display: flex;
    flex-direction: column;
  }
  .sliderc {
    width: 100%;
    background-color: red;
  }
}

/*# sourceMappingURL=main-output.css.map */
