.warning-container {
  width: 100%;
  text-align: center;
}

.warning-container h2 {
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
}

.warning-container hr {
  width: 100%;
}
.warning-reason-text {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
}
.bar-modifed-warning button {
  background-color: #ec5e2a;
  color: white;
  border-radius: 15px;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
}
