.reset-password-container > h2 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
.reset-password-container h3 {
  font-size: 18px;
  font-weight: 600;
  padding: 50px 0px;
}
.reset-password-container button {
  font-weight: 500;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  background-color: #ec5e2a;
  width: 100%;
  padding: 10px 0;
}
.reset-password-input-container {
  transition: all 0.3s ease;
}
.defaultPadding {
  padding-bottom: 25px;
}
.isErrorPadding {
  padding-bottom: 45px;
}
