* {
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: green;
  gap: 200px;
  position: relative;
  /* padding: 20px; */
  /* height: 100px; */
  /* overflow: hidden; */
}
.show-button {
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100vh;
  background-color: red;
}
.overlay * {
    max-width: fit-content;
}
