@mixin display($padding: 0px, $justify-content: center) {
  display: flex;
  align-items: center;
  justify-content: $justify-content;
  padding: $padding;
}
@mixin display-col($gap: 0px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

.active-category-text {
  color: red;
}

.bottom-nav-bar {
  @include display($padding: 10px, $justify-content: space-around);
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: rgb(220, 219, 227);
  overflow: hidden;
  padding: 10px;
  z-index: 999;
}

.bottom-nav-bar > div {
  @include display-col($gap: 7px);
  cursor: pointer;
}

.promotions-wrapper {
  position: relative;
}
.promotionsIcon {
  opacity: 0;
  pointer-events: none;
}
.promotionsIcon-block {
  background-color: orange;
  overflow: hidden;
  border-radius: 100px;
  min-width: 40px;
  min-height: 40px;
  position: absolute;
  top: -8px;
}
.promotionsIcon-block:hover {
  border-radius: 20px;
}

.bottom-nav-bar img {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.bottom-nav-bar * img:hover {
  transform: scale(1.1);
  background-color: rgb(240, 159, 82);
  border-radius: 10px;
}

@media (min-width: 500px) {
  .bottom-nav-bar {
    display: none;
  }
}
